//Font Size
$fs-8: 0.8rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-20: 2rem;
$fs-36: 3.6rem;
$fs-80: 8rem;

//colors
$white: hsl(0, 0%, 100%);
$gray: hsl(237, 18%, 59%);
$red: hsl(345, 95%, 68%);
$dark-0: hsl(236, 20%, 33%);
$dark-1: hsl(236, 21%, 26%);
$dark-2: hsl(235, 16%, 14%);
$dark-3: hsl(234, 17%, 12%);
